<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
	<title>GPIO</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
</head>
<body>
	<div class="container" id="app">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <div class="card shadow">
          <div class="card-header">Добро пожаловать в ситему</div>
          <div class="card-body d-flex flex-wrap">
            <p class="col-12">В данный момент ситема <strong>[[SystemStatus]]</strong></p>
            <button class="flex-fill btn btn-success mr-md-3 mt-1" @click="SystemStart">Включить систему</button>
            <button class="flex-fill btn btn-danger mt-1" @click="SystemStop">Выключить систему</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="card h-100 shadow">
          <div class="card-header text-primary">Информация</div>
          <div class="card-body">
            <p class="col-12">Дата на сервере: <strong>[[DateNow]]</strong></p>
            <p class="col-12">Врем на сервер: <strong>[[TimeNow]]</strong></p>
            <p class="col-12">Темература в дома: <strong>[[ Temperature[0] ]]</strong></p>
            <p class="col-12">Темература в отопления: <strong>[[ Temperature[1] ]]</strong></p>   
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="card shadow">
          <div class="card-header">Настройка тен</div>
          <div class="card-body row">
            <p class="col-12">Настройте температуру включения/выключения тен, а так же период и время</p>

            <div class="col-lg-6">
              
              <form class="form-inline d-flex" v-on:submit.prevent="SetTimeTen">
                <h5 class="col-12 font-weight-bold">Режим 1</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time1" :value="[[TimeTens[0][0] + ':00']]">
                </div>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time2" :value="[[TimeTens[0][1] + ':00']]">
                </div>
                <div class="form-check flex-fill my-3">
                  <input class="form-check-input" type="checkbox" name="cheked" v-model="TimeTens[0][2]">
                  <label class="form-check-label">
                    Запуск
                  </label>
                </div>
                <input type="hidden" name="mode" value="0">
                <button class="btn btn-primary mb-2 flex-fill" type="submit">Сохранить</button>
              </form>
              <hr>
              <form class="form-inline d-flex" v-on:submit.prevent="SetTimeTen">
                <h5 class="col-12 font-weight-bold">Режим 2</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time1" :value="[[TimeTens[1][0] + ':00']]">
                </div>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time2" :value="[[TimeTens[1][1] + ':00']]">
                </div>
                <div class="form-check flex-fill my-3">
                  <input class="form-check-input" type="checkbox" name="cheked" v-model="TimeTens[1][2]">
                  <label class="form-check-label">
                    Запуск
                  </label>
                </div>
                <input type="hidden" name="mode" value="1">
                <button class="btn btn-primary mb-2 flex-fill" type="submit">Сохранить</button>
              </form>
              <hr>
              <form class="form-inline d-flex" v-on:submit.prevent="SetTimeTen">
                <h5 class="col-12 font-weight-bold">Режим 3</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time1" :value="[[TimeTens[2][0] + ':00']]">
                </div>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="time" class="form-control w-100" name="time2" :value="[[TimeTens[2][1] + ':00']]">
                </div>
                <div class="form-check flex-fill my-3">
                  <input class="form-check-input" type="checkbox" name="cheked" v-model="TimeTens[2][2]">
                  <label class="form-check-label">
                    Запуск
                  </label>
                </div>
                <input type="hidden" name="mode" value="2">
                <button class="btn btn-primary mb-2 flex-fill" type="submit">Сохранить</button>
              </form>
              <hr>
              <form class="form-inline d-flex" v-on:submit.prevent="SetTimer">
                <h5 class="col-12 font-weight-bold">Период переключение тен (минуты)</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="number" class="form-control w-100" name="timer" :value = "Timer">
                </div>
                <button class="btn btn-primary mb-2 flex-fill" type="submit">Сохранить</button>
              </form>
              <hr class="d-lg-none .d-xl-block">
            </div>

            <div class="col-lg-6">
              <form class="form-inline d-flex">
                <h5 class="col-12 font-weight-bold">Температура включения</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="number" class="form-control w-100">
                </div>
                <button class="btn btn-primary mb-2 flex-fill">Сохранить</button>
              </form>
              <hr>
              <form class="form-inline d-flex">
                <h5 class="col-12 font-weight-bold">Температура выключения</h5>
                <div class="form-group mx-sm-3 mb-2 flex-fill">
                  <input type="number" class="form-control w-100">
                </div>
                <input type="hidden" name="mode" value="2">
                <button class="btn btn-primary mb-2 flex-fill">Сохранить</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <footer class="bg-white mt-5 d-flex align-items-center align-self-center" style="height: 50px">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span>Powered by <a href="https://artyshko.ru">Fulliton</a> 2019</span>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script>
  var app = new Vue({
    delimiters: ["[[","]]"],
    el: '#app',
    data: {
      SystemStatus: '',
      Temperature: [],
      DateNow: null,
      TimeNow: null,
      TimeTens: [[],[],[]],
      Timer: null
    },
    methods: {
      SystemStop () {
        this.$http.post('/stop').then(function (response) {
          // Success
          if (response.data.system === 'off')
            this.SystemStatus = 'Выключена'

        },function (response) {
          // Error
          console.log(response.data)
          alert('Ошибка')
        });
      },
      SystemStart () {
        this.$http.post('/start').then(function (response) {
          // Success
          if (response.data.system === 'on')
            this.SystemStatus = 'Включена'

        },function (response) {
          // Error
          console.log(response.data)
          alert('Ошибка')
        });
      },
      SetTimeTen(submitEvent) {
        let time1 = Number(submitEvent.target.elements.time1.value[0] + "" + submitEvent.target.elements.time1.value[1])
        let time2 = Number(submitEvent.target.elements.time2.value[0] + "" + submitEvent.target.elements.time2.value[1])
        let mode = Number(submitEvent.target.elements.mode.value)
        let cheked = this.TimeTens[mode][2] + ''
        let self = this
        this.$http.post('/tenatimes/' + time1 +'/' + time2+'/' +cheked + '/' + mode).then(function (response) {
          if (response.data.cheked == self.TimeTens[mode][2] && Number(response.data.time1) == time1 && Number(response.data.time2) == time2) {
            alert('Настройки сохранены удачно')
          } else {
            alert('Ошибка')
          }
        }, function (response) {
          alert('Ошибка')
        })
      },
      SetTimer(submitEvent) {
        // let timer = Number(submitEvent.target.elements.timer.value) * 60
        let timer = Number(submitEvent.target.elements.timer.value) // Пока дев секунды будут
        if (timer <= 0)
          return alert('Введите число больше нуля')
        this.$http.post('/timer/' + timer).then(function (response) {
          if (Number(response.data.timer) == timer) {
            alert('Настройки сохранены удачно')
          } else {
            console.log('Ошибка')
          }
        })
      }
    },
    mounted () {
      let self = this
      this.$http.post('/status').then(function (response) {
        // Success
        console.log(response.data)
        self.Temperature[0] = Number(response.data.temp1)
        self.Temperature[1] = Number(response.data.temp2)
        self.TimeNow = response.data.time
        let now = new Date(response.data.date)
        self.DateNow = now.getFullYear() + '-' + ('0' + (now.getMonth() + 1)).slice(-2) + '-' + ('0' + now.getDate()).slice(-2)
        if (response.data.system === 'on')
          self.SystemStatus = 'Включена'
        else if (response.data.system === 'off')
          self.SystemStatus = 'Выключена'
        self.TimeTens = response.data.times

        self.TimeTens.forEach( function (time, index) {
          for (let i = 0; i < 2; i++) {
            if (time[i] < 10)
            self.TimeTens[index][i] = "0" + self.TimeTens[index][i]
          }
        })
        // На продакшене делить на 60
        self.Timer = Number(response.data.timer)
      },function (response) {
        // Error
        console.log(response.data)
        alert('Ошибка')
      });
    }
})
</script>
</html>